{% load static %}



	<!-- start header -->
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner ">
            <!-- logo start -->
                  <div class="page-logo">
    <nav >

        <a class="navbar-brand" href="#">

          <img src="{% static 'logo/kdj_uni.png' %}" height="50" width="200" alt="mdb logo">

        </a>
      </nav>
                  </div>

            <!-- logo end -->
            <!-- <ul class="nav navbar-nav navbar-left in">
                <li><a href="#" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
            </ul> -->



            <!-- start mobile menu -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
                data-target=".navbar-collapse">
                <span></span>
            </a>
            <!-- end mobile menu -->
            <!-- start header menu -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li><a href="javascript:;" class="fullscreen-btn"><i class="fa fa-arrows-alt"></i></a></li>
                    <!-- start language menu -->
            
                    <!-- end language menu -->
            
                    <!-- start message dropdown -->
                    <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                            data-close-others="true">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge headerBadgeColor2"> 2 </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="external">
                                <h3><span class="bold">Messages</span></h3>
                                <span class="notification-label cyan-bgcolor">New 2</span>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list small-slimscroll-style" data-handle-color="#637283">
                                    <li>
                                        <a href="#">
                                            <span class="photo">
                                                <img src="{% static 'assets/img/prof/prof2.jpg' %}" class="img-circle" alt="">
                                            </span>
                                            <span class="subject">
                                                <span class="from"> Sarah Smith </span>
                                                <span class="time">Just Now </span>
                                            </span>
                                            <span class="message"> Jatin I found you on LinkedIn... </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="photo">
                                                <img src="{% static 'assets/img/prof/prof3.jpg' %}" class="img-circle" alt="">
                                            </span>
                                            <span class="subject">
                                                <span class="from"> John Deo </span>
                                                <span class="time">16 mins </span>
                                            </span>
                                            <span class="message"> Fwd: Important Notice Regarding Your Domain
                                                Name... </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="photo">
                                                <img src="{% static 'assets/img/prof/prof1.jpg' %}" class="img-circle" alt="">
                                            </span>
                                            <span class="subject">
                                                <span class="from"> Rajesh </span>
                                                <span class="time">2 hrs </span>
                                            </span>
                                            <span class="message"> pls take a print of attachments. </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="photo">
                                                <img src="{% static 'assets/img/prof/prof8.jpg' %}" class="img-circle" alt="">
                                            </span>
                                            <span class="subject">
                                                <span class="from"> Lina Smith </span>
                                                <span class="time">40 mins </span>
                                            </span>
                                            <span class="message"> Apply for Ortho Surgeon </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="photo">
                                                <img src="{% static 'assets/img/prof/prof5.jpg' %}" class="img-circle" alt="">
                                            </span>
                                            <span class="subject">
                                                <span class="from"> Jacob Ryan </span>
                                                <span class="time">46 mins </span>
                                            </span>
                                            <span class="message"> Request for leave application. </span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="dropdown-menu-footer">
                                    <a href="#"> All Messages </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- end message dropdown -->
                    <!-- start manage user dropdown -->
                {% include "base/user_settings.html" %}
                
                    <!-- end manage user dropdown -->

    

                </ul>
            </div>
        </div>
    </div>
    <!-- end header -->





