    {% load static %}
    
    <!-- start js include path -->
	<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'assets/plugins/popper/popper.js' %}"></script>
	<script src="{% static 'assets/plugins/jquery-blockui/jquery.blockui.min.js' %}"></script>
	<script src="{% static 'assets/plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
	<!-- Common js-->
	<script src="{% static 'assets/js/app.js' %}"></script>
	<script src="{% static 'assets/js/layout.js' %}"></script>
	<script src="{% static 'assets/js/theme-color.js' %}"></script>
	<!-- Material -->
	<script src="{% static 'assets/plugins/material/material.min.js' %}"></script>
	<!-- end js include path -->