{% load static %}

			<div class="sidebar-container">
				<div class="sidemenu-container navbar-collapse collapse fixed-menu">
					<div id="remove-scroll" class="left-sidemenu">


						<ul class="sidemenu  page-header-fixed slimscroll-style" data-keep-expanded="false"
							data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">

							{% for profile in profile  %}
							<li class="sidebar-toggler-wrapper hide">
								<div class="sidebar-toggler">
									<span></span>
								</div>
							</li>

							<li class="sidebar-user-panel">
								<div class="user-panel">
									<div class="pull-left image">
										<img src="{{profile.image.url}}" class="img-circle user-img-circle"
											alt="User Image" />
									</div>
									<div class="pull-left info">
										<p> {{profile.first_name}}  {{profile.middle_name}}</p>
										<a href="#"><i></i>
											<span class="txtOnline">
												Lecturer </span></a>
									</div>
								</div>
							</li>

							<li class="nav-item">

								<a href="#" class="nav-link nav-toggle"><i class="material-icons">group</i>
									<span class="title">Lecturer</span><span class="arrow"></span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="{% url 'lecturer:profile' %}" class="nav-link ">
											<span class="title">Profile</span><span class="selected"></span>
										</a>
									</li>

									<li class="nav-item">
										<a href="{{profile.get_update_url}}" class="nav-link "> <span class="title">Edit profile</span>
										</a>
									</li>


								</ul>
							</li>


					

							<li class="nav-item">
								<a href="{% url 'lecturer:my_course' %}" class="nav-link nav-toggle"> <i class="material-icons">school</i>
									<span class="title">My Courses</span> 
								</a>

						
							</li>

							<li class="nav-item">
								<a href="{% url 'lecturer:attendance' %}" class="nav-link nav-toggle"> <i class="material-icons">check_box</i>
									<span class="title">Attendance</span>
								</a>
							</li>

							<!-- <li class="nav-item">
								<a href="#" class="nav-link nav-toggle"> <i class="material-icons">local_library</i>
									<span class="title">Course Materials
									</span>
								</a>
								
							</li>
							 -->


							<li class="nav-item">
								<a href="event.html" class="nav-link nav-toggle"> <i class="material-icons">event</i>
									<span class="title">Academic Calendar</span>
								</a>
							</li>

					
								
							<li class="nav-item">
								<a href="." class="nav-link nav-toggle"> <i class="material-icons">business</i>
									<span class="title"> Department & Programs</span>
								</a>

							
							</li>


							
							<li class="nav-item">
								<a href="{% url 'lecturer:workload' %}" class="nav-link nav-toggle"> <i class="material-icons">assignment</i>
									<span class="title">Workload</span>
								</a>
				
							</li>

							<li class="nav-item">
								<a href="{% url 'lecturer:guide_line' %}" class="nav-link nav-toggle"> <i class="material-icons">warning</i>
									<span class="title">  Rules & Regulations </span>
								</a>
							</li>

							<li class="nav-item">
								<a href="{% url 'lecturer:l_contact' %}" class="nav-link nav-toggle"> <i class="material-icons">contact_mail</i>
									<span class="title"> Mail Us </span>
								</a>
							</li>


											  
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>