

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Test for my course semester</h2>

 
    <h3>
     {{queryset.student.get_name}} <br>
     {{queryset.attend}}
     {{queryset.date}}
    </h3>
      <h3>
          from report View
      </h3>



  <h5>basic filter for report</h5>


      {{queryset.student.get_name}} <br>
        
  

      <h3>rlated name filter for subject foreignkey </h3>

      {% for post in queryset.subject_attendance_reprot.all  %}

      {{post.subject.name}}
        
      {% endfor %}

      <h2>filter for related name student </h2>

      {% for student in queryset.student_attendance_report.all  %}

      {{student.student.student.get_name}} <br>
      {{student.date}} <br> <br>
        
      {% endfor %}
  
</body>
</html>