

{% extends "admin/base.html" %}
{% load static %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{%endblock %}
{% block branding %}

{% block extrastyle %}
     <link rel="stylesheet" type="text/css" href="{% static 'color.css' %}"/>
{% endblock %}
<h1 id="site-name">
<a href="{% url 'admin:index' %}">
     
<img src="{% static 'kdj_uni.png' %}" height="90px" />
</a>
</h1>
<br>
{% endblock %}

{% block link %}
<div class="admin">
     <h3>

          <a style="color: blue;" href="{% url 'sis_admin:index' %}">SIS portal</a>-

          <a style="color: blue;" href="{% url 'sis_admin:index' %}">AC portal</a>-
          <a style="color: skyblue;" href="{% url 'sis_admin:index' %}">AC portal</a>-
          <a style="color: darkred;" href="{% url 'sis_admin:index' %}">AC portal</a>-
          <a style="color: darkred;" href="{% url 'sis_admin:index' %}">AC portal</a>-

     </h3>
     
</div>
{% endblock link %}
{% block nav-global %}{% endblock %}